1. Write a code to reverse a string?

In [ ]:
string = input("Enter a string: ")
print(string[::-1])

Enter a string: hello world
dlrow olleh

2. Write a code to count the number of vowels in a string?

In [ ]:
string = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0
for char in string:
    if char in vowels:
        count += 1
print("Number of vowels in the string:", count)

Enter a string: elephant
Number of vowels in the string: 3

3. Write a code to check if a given string is a palindrome or not.

In [ ]:
string = input("Enter a string: ")
if string == string[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: ABCDDCBA
The string is a palindrome.

4. Write a code to check if two given strings are anagrams of each other.

In [ ]:
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
if sorted(string1) == sorted(string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

Enter the first string: adcbe
Enter the second string: dcaeb
The strings are anagrams.

5. Write a code to find all occurrences of a given substring within another string.

In [ ]:
string = input("Enter the string: ")
substring = input("Enter the substring: ")
indices = []
for i in range(len(string)):
    if string[i:i+len(substring)] == substring:
        indices.append(i)
print("The substring occurs at the following indices:", indices)

Enter the string: we are studying, we are preparing for exams
Enter the substring: are
The substring occurs at the following indices: [3, 20]

6. Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
def string_compression(input_string):
    compressed_string = ""
    count = 1
    for i in range(len(input_string)):
        if i + 1 < len(input_string) and input_string[i] == input_string[i + 1]:
            count += 1
        else:
            compressed_string += input_string[i] + str(count)
            count = 1
    return compressed_string

input_string = input("Enter a string: ")
compressed_string = string_compression(input_string)
print("Compressed string:", compressed_string)

Enter a string: AAAAOYULLLP
Compressed string: A4O1Y1U1L3P1

7. Write a code to determine if a string has all unique characters

In [ ]:
string = input("Enter a string: ")
if len(string) == len(set(string)):
    print("The string has all unique characters.")
else:
    print("The string does not have all unique characters.")

Enter a string: world
The string has all unique characters.

8. Write a code to convert a given string to uppercase or lowercase.

In [ ]:
string = input("Enter a string: ")
uppercase_string = string.upper()
lowercase_string = string.lower()
print("Uppercase string:", uppercase_string)
print("Lowercase string:", lowercase_string)

Enter a string: sayaN
Uppercase string: SAYAN
Lowercase string: sayan

9. Write a code to count the number of words in a string?

In [ ]:
string = input("Enter a string: ")
words = string.split()
print("Number of words in the string:", len(words))

Enter a string: sayan roy
Number of words in the string: 2

10. Write a code to concatenate two strings without using the + operator.

In [ ]:
def concatenate_strings(str1, str2):

    # Use join()
    return ''.join([str1, str2])

# Example usage
string1 = "Hello"
string2 = " World"
result = concatenate_strings(string1, string2)
print(f"Concatenated string: {result}")

Concatenated string: Hello World

11. Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def remove_all_occurrences(input_list, element_to_remove):

    return [item for item in input_list if item != element_to_remove]

my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
new_list = remove_all_occurrences(my_list, element_to_remove)
print(f"List with all occurrences of {element_to_remove} removed:", new_list)

List with all occurrences of 2 removed: [1, 3, 4, 5]

12. Implement a code to find the second largest number in a given list of integers.

In [ ]:
def find_second_largest(numbers):
    if len(numbers) < 2:
        return "List must contain at least two numbers."

    unique_numbers = sorted(list(set(numbers)), reverse=True)

    if len(unique_numbers) < 2:
        return "There is no second largest number."
    else:
        return unique_numbers[1]

# Example usage
numbers = [1, 5, 2, 8, 3, 9, 9, 4]
second_largest = find_second_largest(numbers)
print("The second largest number is:", second_largest)

The second largest number is: 8

13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
def count_occurrences(input_list):
    element_counts = {}
    for element in input_list:
        if element in element_counts:
            element_counts[element] += 1
        else:
            element_counts[element] = 1
    return element_counts
my_list = [1, 2, 2, 3, 4, 4, 4, 5]
occurrences = count_occurrences(my_list)
print("Occurrences of each element:", occurrences)

Occurrences of each element: {1: 1, 2: 2, 3: 1, 4: 3, 5: 1}

14. Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
def reverse_list_in_place(data):
    start = 0
    end = len(data) - 1
    while start < end:
        data[start], data[end] = data[end], data[start]
        start += 1
        end -= 1
    return data
my_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list_in_place(my_list)
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates_preserve_order(input_list):
    seen = set()
    result = []
    for item in input_list:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

my_list = [1, 2, 2, 3, 4, 4, 4, 5, 1]
unique_list = remove_duplicates_preserve_order(my_list)
print("List with duplicates removed (preserving order):", unique_list)

List with duplicates removed (preserving order): [1, 2, 3, 4, 5]

16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:

def is_sorted(input_list):
    ascending = all(input_list[i] <= input_list[i+1] for i in range(len(input_list)-1))
    descending = all(input_list[i] >= input_list[i+1] for i in range(len(input_list)-1))
    return ascending or descending

my_list1 = [1, 2, 3, 4, 5]
my_list2 = [5, 4, 3, 2, 1]
my_list3 = [1, 3, 2, 4, 5]

print(f"Is {my_list1} sorted? {is_sorted(my_list1)}")
print(f"Is {my_list2} sorted? {is_sorted(my_list2)}")
print(f"Is {my_list3} sorted? {is_sorted(my_list3)}")

Is [1, 2, 3, 4, 5] sorted? True
Is [5, 4, 3, 2, 1] sorted? True
Is [1, 3, 2, 4, 5] sorted? False

17. Write a code to merge two sorted lists into a single sorted list.

In [ ]:
my_list1 = [1, 3, 5, 7, 9]
my_list2 = [2, 4, 6, 8, 10]
merged_list = sorted(my_list1 + my_list2)
print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

18. Write a code to merge two sorted lists into a single sorted list.

In [ ]:
my_list1 = [1, 3, 5, 7, 9]
my_list2 = [2, 4, 6, 8, 10]
merged_list = merge_sorted_lists(my_list1, my_list2)
print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

19. Create a code to find the union of two lists without duplicates.

In [ ]:
my_list1 = [1, 2, 3, 4, 5]
my_list2 = [4, 5, 6, 7, 8]
union_list = list(set(my_list1 + my_list2))
print("Union of the two lists:", union_list)

20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
import random
my_list = [1, 2, 3, 4, 5]
shuffled_list = my_list.copy()
for i in range(len(shuffled_list)):
    j = random.randint(0, i)
    shuffled_list[i], shuffled_list[j] = shuffled_list[j], shuffled_list[i]
print("Shuffled list:", shuffled_list)

Shuffled list: [1, 2, 4, 3, 5]

21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
common_elements = tuple(item for item in tuple1 if item in tuple2)
print("Common elements:", common_elements)

Common elements: (4, 5)

22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [ ]:
set1 = set(map(int, input("Enter the first set of integers separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set of integers separated by commas: ").split(',')))
intersection = set1.intersection(set2)
print("Intersection of the two sets:", intersection)

Enter the first set of integers separated by commas: 2,3,4,5
Enter the second set of integers separated by commas: 4,5,6,7
Intersection of the two sets: {4, 5}

23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = concatenate_tuples(tuple1, tuple2)
concatenated_tuple

(1, 2, 3, 4, 5, 6)

24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [ ]:
set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
set2 = set(input("Enter the second set of strings separated by commas: ").split(','))
difference = set1.difference(set2)
print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings separated by commas: a,b,c,d
Enter the second set of strings separated by commas: c,d,e,f
Elements in the first set but not in the second set: {'b', 'a'}

25.Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [6]:
def extract_elements(input_tuple, start_index, end_index):
    tuple_length = len(input_tuple)

    if 0 <= start_index < tuple_length and 0 <= end_index <= tuple_length and start_index < end_index:
        return input_tuple[start_index:end_index]
    else:
        return ()

my_tuple = input("Enter a tuple of integers separated by commas: ").split(',')
my_tuple = tuple(map(int, my_tuple))
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))
new_tuple = extract_elements(my_tuple, start_index, end_index)
print("New tuple:", new_tuple)

Enter a tuple of integers separated by commas: 20,22,23,25,27
Enter the start index: 0
Enter the end index: 3
New tuple: (20, 22, 23)

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
set1 = set(input("Enter the first set of characters separated by commas: ").split(','))
set2 = set(input("Enter the second set of characters separated by commas: ").split(','))
union = set1.union(set2)
print("Union of the two sets:", union)

Enter the first set of characters separated by commas: a,b,c,d,e
Enter the second set of characters separated by commas: f,g,h,i,j
Union of the two sets: {'c', 'f', 'i', 'b', 'g', 'j', 'e', 'd', 'h', 'a'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [2]:
def find_max_min(input_tuple):
    if not input_tuple:
        return None, None

    max_value = max(input_tuple)
    min_value = min(input_tuple)
    return max_value, min_value

my_tuple = input("Enter a tuple of integers separated by commas: ").split(',')
my_tuple = tuple(map(int, my_tuple))
max_value, min_value = find_max_min(my_tuple)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Enter a tuple of integers separated by commas: 20,23,25,27
Maximum value: 27
Minimum value: 20

28.  Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [7]:
set1 = set(map(int, input("Enter the first set of integers separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set of integers separated by commas: ").split(',')))
union = set1.union(set2)
intersection = set1.intersection(set2)
difference = set1.difference(set2)
print("Union of the two sets:", union)
print("Intersection of the two sets:", intersection)
print("Difference of the two sets:", difference)

Enter the first set of integers separated by commas: 20,22,25,27
Enter the second set of integers separated by commas: 25,27,33,35
Union of the two sets: {33, 35, 20, 22, 25, 27}
Intersection of the two sets: {25, 27}
Difference of the two sets: {20, 22}

29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [9]:
def count_occurrences(input_tuple, element):
    return input_tuple.count(element)

my_tuple = input("Enter a tuple of integers separated by commas: ").split(',')
my_tuple = tuple(map(int, my_tuple))
element = int(input("Enter the element to count: "))
count = count_occurrences(my_tuple, element)
print("Count of occurrences of", element, "in the tuple:", count)

Enter a tuple of integers separated by commas: 20,20,22,22,22,24,25
Enter the element to count: 22
Count of occurrences of 22 in the tuple: 3

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [10]:
set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
set2 = set(input("Enter the second set of strings separated by commas: ").split(','))
symmetric_difference = set1.symmetric_difference(set2)
print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings separated by commas: a,b,c,d,e
Enter the second set of strings separated by commas: d,e,f,g,h
Symmetric difference of the two sets: {'b', 'f', 'c', 'a', 'g', 'h'}

31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [15]:
def count_word_frequencies(word_list):
    word_frequency = {}
    for word in word_list:
        if word in word_frequency:
            word_frequency[word] += 1
        else:
            word_frequency[word] = 1
    return word_frequency
word_list = input("Enter a list of words separated by commas: ").split(',')
word_frequencies = count_word_frequencies(word_list)
print("Word frequencies:", word_frequencies)

Enter a list of words separated by commas: apple,apple,banana,banana,apple, cherry
Word frequencies: {'apple': 3, 'banana': 2, ' cherry': 1}

32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [17]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    return merged_dict
dict1 = eval(input("Enter the first dictionary as a dictionary literal: "))
dict2 = eval(input("Enter the second dictionary as a dictionary literal: "))
merged_dict = merge_dictionaries(dict1, dict2)
print("Merged dictionary:", merged_dict)

Enter the first dictionary as a dictionary literal: {'a': 100, 'b': 200, 'c': 300}
Enter the second dictionary as a dictionary literal: {'b': 300, 'c': 400, 'd': 500}
Merged dictionary: {'a': 100, 'b': 500, 'c': 700, 'd': 500}

33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [2]:
def get_nested_value(dictionary, keys):
    try:
        value = dictionary
        for key in keys:
            value = value[key]
        return value
    except (KeyError, TypeError):
        return None
nested_dict = {'a': {'b': {'c': 1}}}
keys = ['a', 'b', 'c']
value = get_nested_value(nested_dict, keys)
print("Value:", value)

Value: 1

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [6]:
def sort_dictionary_by_values(input_dict, ascending=True):
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict
my_dict = eval(input("Enter a dictionary as a dictionary literal: "))
ascending = input("Sort in ascending order? (yes/no): ").lower() == 'yes'
sorted_dict = sort_dictionary_by_values(my_dict, ascending)
print("Sorted dictionary:", sorted_dict)

Enter a dictionary as a dictionary literal: {"a":6, "b":8, "c":5}
Sort in ascending order? (yes/no): yes
Sorted dictionary: {'c': 5, 'a': 6, 'b': 8}

35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [7]:
def invert_dictionary(input_dict):
    inverted_dict = {}
    for key, value in input_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict
my_dict = eval(input("Enter a dictionary as a dictionary literal: "))
inverted_dict = invert_dictionary(my_dict)
print("Inverted dictionary:", inverted_dict)

Enter a dictionary as a dictionary literal: {"a":6, "b":8, "c":5,"b":9}
Inverted dictionary: {6: ['a'], 9: ['b'], 5: ['c']}