1. Explain the key features of Python that make it a popular choice for
   programming.

Key features of Python that make it a popular choice


1.   Ease of learning as Python is easy to learn.
2.   Versatility as Python can be used in anywhere like frontend & backend
     development, machine learning, data analysis, automation, image processing etc.
3.   Readability as it is very easy to read the Python code.
4.   Python has a lot of libraries(137000).
5.   Python has Huge active community.
6.   Python is a portable language that means we can run a python code in any
     platform

 2. Describe the role of predefined keywords in Python & provide examples of  
    how they are used in a program.

Predefined keywords are predefined & reserved words that have special meaning & specific purpose. They should not be used as a variable, function or identifier. There are 35 keywords in python & all are written in lowercase except True & False.

In [ ]:
# Examples of keywords used in a program
# Examples of True, False, and, or, not, if keywords
print(True & True)

True

In [ ]:
print(True & False)

False

In [ ]:
print(True or False)

True

In [ ]:
print(not False)

True

In [ ]:
x=100
if (x%2==0):
  print("the number is even")

the number is even

3. Compare and contrast mutable and immutable objects in python with examples.

In [ ]:
# Objects or containers whose value can be changed after creation are called mutable objects or containers.
# examples
list_sr = [2,3,"sayan", 4.5]
list_sr[0] = 45
list_sr

[45, 3, 'sayan', 4.5]

In [ ]:
# conversely objects whose value can't be changed after creation are called immutable objects.
# examples
b = "Sayan"
b[0]

'S'

In [ ]:
b[0] = "s"

TypeError: 'str' object does not support item assignment

In [ ]:
# Here we see list support item assignment but string doesn't support item assignment. So list is mutable object but string is immutable object.

4. Discuss the different types of operators in Python and provide examples of how they are used.

In [ ]:
# In Python operators are used to perform operations on values & variables
# Types of Operators- 1. Arithmatic operators, 2.Comparison operators, 3. Logical operators, 4. Bitwise operators, 5. Assignment operators, 6. Membership operators, 7. Identity operators
# 1.Arithmatic operators perform arithmatic operations on variables.
# example of Arithmatic operators
a=4.5
b=2
print(a+b) # addition
print(a-b) # subtraction
print(a*b) # multiplication
print(a/b) # division
print(a//b) # floor
print(a%b) # modulus

6.5
2.5
9.0
2.25
2.0
0.5

In [ ]:
# 2. Comparison operators compares values.
# example of comparison operators
a=20
b=13
print(a>b) # greater than
print(a<b) # less than
print(a==b) # equal to
print(a!=b) # not equal to
print(a>=b) # greater than or equal to
print(a<=b) # less than or equal to

True
False
False
True
True
False

In [1]:
# 3. Logical operators are used to combine multiple conditions together and evaluate them as a single boolean expression.
# example of logical operators
a = True
b = False
print(a and b) # logical AND
print(a or b) # logical OR
print(not a) # logical NOT

False
True
False

In [2]:
# 4. Bitwise operators acts on bits & perform bit-by-bit operations. It operates on binary numbers.
 # example of bitwise operators
q = 12
r = 8
print(q & r) # Bitwise AND
print(q | r) # Bitwise OR
print(~q)    # Bitwise NOT
print(q ^ r) # Bitwise XOR
print(q >> 3) # Bitwise RIGHT SHIFT
print(q << 3) # Bitwise LEFT SHIFT

8
12
-13
4
1
96

In [3]:

# 5. Assignment operators are used to assign values to the variables.
# Example of Assignment operators
m = 10
n = m # Assign the value of the right side of the expression to the left side operand
print(n)
n+=m # n= n+m
print(n)
n-=m # n= n-m
print(n)
n*=m # n=n*m
print(n)
n<<=m #n= n<<m
print(n)
n>>=m # n=n>>m
print(n)
n/=m # n= n/m
print(n)

10
20
10
100
102400
100
10.0

In [5]:
# 6. Membership operators in python are used to test whether a value or variable is in a sequence.
# Example of Membership operators
a=12
b=15
c=[12, 16, 20, 24]
if a in c:
  print("a exist in c")
else:
  print("a doesn't exist in c")
if b not in c:
  print("b doesn't exist in c")
else:
  print("b exist in c")

a exist in c
b doesn't exist in c

In [6]:
# 7. Identity operators in Python are used to check whether two values are located in the same part of the memory or not.
# Examples of Identity operators
a=12
b=16
c=a
print(a is not b) # is not identity operator returns True if both are not identical
print(a is c) # is operator returns true if both are identical

True
True

5. Explain the concept of type casting in Python with examples.

In [7]:
# Type casting or type conversion is a process to convert the data type of a value or object. It is required when there is mismatch between two datatypes while performing any operation on those.
# There are two types of type casting,  a) implicit type conversion , b) explicit conversion
# Example of implicit type conversion or type casting
a=8
b=2.5
c="sayan"
print(type(a)) # here Python automatically converts a to int
print(type(b)) # here Python automatically converts b to float
print(type(c)) # here Python automatically converts c to string

<class 'int'>
<class 'float'>
<class 'str'>

In [8]:
# Example of explicit type casting or type conversion
a = 6
print(type(a))
a = float(a) # here we are changing the data type a from integer to float.
print(type(a))

<class 'int'>
<class 'float'>

6. How do conditional statements work in Python? illustrate with examples.

In [9]:
# Conditional statements allow us to control the flow of Python programming based on conditions that we will specify.
# Types of conditional statements- 1. if, 2. if else, 3. if elif else, 4. nested if else
# Example of if statement
a=50
if (a%2==0): # condition
  print("number is even") # if above condition satisfied this block will be executed

number is even

In [10]:
# Example of if else statement
b=25
if b==20: # condition
  print("yes") # if above condition satisfied this block will be executed
else:
  print("no") # if above condition not satisfied this block will be executed

no

In [1]:
# Example of if elif else statement
a=60
if a>60: # condition
  print("value is greater than 60") # if above condition satisfied this block will be executed
elif a<60: # condition
  print("value is less than 60") # if above condition satisfied this block will be executed
elif a<150: # condition
  print("value is less than 150") # here above condition satisfied so this block will be executed
else: # condition
  print("value is equal to 60") # this block will not be executed as previous condition already satisfied so this block will not be checked

value is less than 150

In [3]:
# Example of nested if else statement
a = 2
b = 7
if a>5: # condition
  if b>5: # if above condition satisfies then it will enter this nested if block & will check this condition
    print("both a & b greater than 5") # if above nested if condition satisfies then it will be executed
  else:
    print("only a is greater than 5") # if above nested if condition doesn't satisfy then this else block will be executed
elif b>5: # if condition of line number 3 doesn't satisfy then this condition will be checked
    print("only b is greater than 5 ") # if above condition satisfies then this line will be executed
else:
  print("neither a nor b is greater than 5") # if all the above condition doesn't satisfy then this line will be executed

only b is greater than 5

7. Describe the different types of loops in Python and their use cases with
   examples

In [4]:
# Loops allow us to execute a block of code repeatedly
# Loops are of two types. 1) While loop, 2) For loop
# 1) While loop is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false it will come out from the loop.
# Example of while loop
row=4 # initialisation
while row>=1: # check the condition & will be checked repeatedly until condition becomes false & the body will also be executed same number of times the condition satisfies
    col=1 # if above condition is satisfied then it will enter the loop & this initialisation will be executed
    while col<=row: # now it will check this while condition will be continued until condition becomes false & the body will also be executed same number of times the condition satisfies.
        print("*", end="") # this line will be executed continuously until above while condition becomes false
        col=col+1 # it will increase the value of column by 1 from last assigned value
    print() # if above while condition becomes false then this line will be executed
    row=row-1 # after the above line this line will be executed where value of row variable will be decreased by 1 from last assigned value if previous while condition is failed

****
***
**
*

In [5]:
# 2) For loops iterate over a sequence of elements like string, list.
# Example of for loop
for i in range(6): # it iterates value from 0 to 5. First it will take 0.
    for j in range (i+1): # First it will take 1 as i=0.
        print("*", end="") # It will print "*" 1 time at first as range is 1 at first. Then it gets out of the loop & take i as 1 & range of j will be 2 then so wil print * two times.
    print() # after printing "*" it helps to enter new line

*
**
***
****
*****
******