1. Discuss string slicing and provide examples.

In [ ]:
# String slicing is about obtaining substring from the given string by slicing it from start to end & giving the required step.
# examples
std = "good morning sir"
print(std[0:4]) # here 4 is exclusive & it will give result from 0th index to 3rd index. default step is 1
print(std[0:4:2]) # here step is 2 so it will print 0 th index & 2nd index
print(std[2:]) # here it will print all the index from 2nd index as there is no end index is mentioned & default step is 1
print(std[::]) # here it will print all the index from start to end as starting index & ending index is not mentioned & default step is 1
print(std[-3:]) # here it will print from 3rd last index to remaining index in forward direction & default step is 1
print(std[:-3]) # here it will print all the element except 'sir' which means it will print from 0th index(default sttarting index) to 4th last index (3rd last index will be excluded) & default step is 1
print(std[-1::-1]) # here it will print all the element in backward direction as starting index is -1 & ending index is not mentioned so it will print all the remaining index in backward direction as step is -1

good
go
od morning sir
good morning sir
sir
good morning
ris gninrom doog

2. Explain the key features of lists in Python.

 Ans: Key features of lists-
   
   a. Lists are ordered collection of items.

   b. We have to use square bracket to enclose list items.

   c. List is a collection of different kind of values or items.

   d. List can store any data type that's why list is heterogenous.

   e. We can change elements of list that's why list is mutable.

   f. We can do multiple operations on list elements.

3. Describe how to access, modify, and delete elements in a list with examples.

In [ ]:
# Examples of access, modify & delete elements of list
identity = ["name", "address", "phone number", "date of birth"]

In [ ]:
# Accessing elements from identity list
identity[0:2] # here we want to access first 2 elements from identity list so starting index is 0 & end index 2 & default step is 1

['name', 'address']

In [ ]:
# modifying elements from identity list
identity[0:2] = ["NAME", "ADDRESS"] # here we want to replace 1st & 2nd element of identity list "name" & "address" by "NAME" & "ADDRESS". It is done by inserting the two new values at 0 th index & 1st index by giving range 0 to 2

In [ ]:
identity

['NAME', 'ADDRESS', 'phone number', 'date of birth']

In [ ]:
# delete first two elements from identity list
del identity[0:2] # here we delete first two elements using del keyword
print(identity)

['phone number', 'date of birth']

4. Compare and contrast tuples and lists with examples.

In [ ]:
# tuples enclosed in parentheses()
# example
fruit = ("apple", "banana", "guava", "kiwi", "pear")
type(fruit)

tuple

In [ ]:
# list enclosed in square bracket[]
# example
fruit1 = ["apple", "banana", "guava", "kiwi", "pear"]
type(fruit1)

list

In [ ]:
# tuple is immutable
# example
fruit = ("apple", "banana", "guava", "kiwi", "pear")
fruit(0) #as tuple is immutable so it gives an error

TypeError: 'tuple' object is not callable

In [ ]:
# list is mutable
# example
fruit1 = ["apple", "banana", "guava", "kiwi", "pear"]
fruit1[0]= "mango" #as list is mutable so we are able to assign new value at 0th index
fruit1

['mango', 'banana', 'guava', 'kiwi', 'pear']

In [ ]:
# as tuple is immutable so we can't add, remove or modify element in tuple so length of tuple is same
# list is mutable so we can add, remove or modify element in list so length of list can be changed
# example
fruit1 = ["apple", "banana", "guava", "kiwi", "pear"]
print(len(fruit1)) # initial length of list fruit1
fruit1.append("lemon")
print(fruit1)
fruit1.extend(["dragon fruit", "coconut"])
print(fruit1)
fruit1.insert(1,"mango")
print(fruit1)
fruit1.remove("guava")
print(fruit1)
print(len(fruit1)) # after modifying final length of list fruit1

5
['apple', 'banana', 'guava', 'kiwi', 'pear', 'lemon']
['apple', 'banana', 'guava', 'kiwi', 'pear', 'lemon', 'dragon fruit', 'coconut']
['apple', 'mango', 'banana', 'guava', 'kiwi', 'pear', 'lemon', 'dragon fruit', 'coconut']
['apple', 'mango', 'banana', 'kiwi', 'pear', 'lemon', 'dragon fruit', 'coconut']
8

In [ ]:
# tuple consumes less memory due to immutability
# list consumes more memory due to flexibility or mutability

# due to immutability tuple has less built in methods
# due to mutability list has more built in methods like remove(), pop(), append() etc.

5. Describe the key features of sets and provide examples of their use.

In [ ]:
# key features of set:
# 1. Set is enclosed in braces{}
# 2. Set is unordered collection of elements
# 3. Set doesn't consist any duplicate element
# 4. As set is unordered so there is no indexing in set
# 5. we can't access any element of set as set is unordered.
# 6. set is mutable that means we can manipulate the elements of set.
# 7. set can store hetergenous elements.
# 8. there is frozen set which is immutable.
# 9. we can do union, intersection, difference, symmetric difference on two sets
# examples
a = {1,2,5,"sayan", 7,2,7}
print(type(a))
print(a) # this print only a set which contains only unique element
#a[0] # set does not support accessing the element through index as set ccontains unordered elements
a.add(3)
print(a)
a.remove(3)
print(a)
a.pop()
print(a)
a.update(["ayan"])
print(a)
b = {1,2,9,"sayan"}
print(a | b) # union operation on set a & set b
print(a & b) # intersection operation on set a & set b
print(a - b) # difference operation set a & set b
print(a ^ b) # symmetric difference operation on set a & set b
a1 = (5,6,7,"bridge")
x = frozenset(a1)
x[1]= 10 # as frozen set is immutable so it doesn't support item assignment
print(x)

<class 'set'>
{1, 2, 5, 7, 'sayan'}
{1, 2, 3, 5, 7, 'sayan'}
{1, 2, 5, 7, 'sayan'}
{2, 5, 7, 'sayan'}
{2, 5, 7, 'sayan', 'ayan'}
{1, 2, 5, 7, 9, 'sayan', 'ayan'}
{2, 'sayan'}
{'ayan', 5, 7}
{1, 5, 7, 9, 'ayan'}

TypeError: 'frozenset' object does not support item assignment

6. Discuss the use cases of tuples and sets in Python programming.

In [1]:
# Use cases of tuples
# 1. we can use tuples as a data structure where we don't want to modify data
emp_id = (21, 32, 45,65)
emp_id[1] = 150

TypeError: 'tuple' object does not support item assignment

In [4]:
# 2. tuples can be used as dictionary keys as tuple is immutable & hashable.
# example
words_num = {"a": 1, "b": 2, "c": 3, ("d", "e", "f"): 456}
words_num

{'a': 1, 'b': 2, 'c': 3, ('d', 'e', 'f'): 456}

In [5]:
# use cases of sets
# 1. since set doesn't contain duplicate value so we can convert list to set to get only unique value.
# example
list2 = [4,4,6,6,"apple", "apple"]
set2 = set(list2)
set2

{4, 6, 'apple'}

In [7]:
# 2. As set is unordered so set objects is not accessible through indexing.
set2[0]

TypeError: 'set' object is not subscriptable

In [16]:
# 3. As set is mutable so we can modify unique set elements
set2.add(5)
print(set2)
set2.remove(5)
print(set2)
set2.pop()
print(set2)
set2.update([1,10])
print(set2)

{1, 5, 10, 'apple'}
{1, 10, 'apple'}
{1, 'apple'}
{1, 10, 'apple'}

In [ ]:
# 4. we can do multiple operations on two sets like union, intersection, difference, symmetric difference.

7. Describe how to add, modify, and delete items in a dictionary with examples.

In [35]:
# Examples of add, modify, and delete items in a dictionary
contact_info={"NAME": "SAYAN", "EMAIL": "sr@gmail.com", "MOBILENO" : "98765"}
print(contact_info)
contact_info["NAME"]="AYAN" # here we modified element by assigning new value to key
print(contact_info)
contact_info["ADDRESS"] = "134, XYZ LANE" # here we add new key value pair to contact_info dictionary
print(contact_info)
del contact_info["ADDRESS"] # here we delete item using del keyword
print(contact_info)

{'NAME': 'SAYAN', 'EMAIL': 'sr@gmail.com', 'MOBILENO': '98765'}
{'NAME': 'AYAN', 'EMAIL': 'sr@gmail.com', 'MOBILENO': '98765'}
{'NAME': 'AYAN', 'EMAIL': 'sr@gmail.com', 'MOBILENO': '98765', 'ADDRESS': '134, XYZ LANE'}
{'NAME': 'AYAN', 'EMAIL': 'sr@gmail.com', 'MOBILENO': '98765'}

8. Discuss the importance of dictionary keys being immutable and provide
   examples.

In [36]:
# The hash table implementation of dictionaries uses a hash value calculated from the key value to find the key. If the key is a mutable object, its value could change, and thus its hash could also change.
# So we will not be able to find old key object as its hash value will also change. So because of this it is very important for the key to be immutable. Because of this we can't use list, set, dictionary as key because all of these are mutable.
# If we use these types of data structure as key then we will get unhashable error but we can use tuple as key because tuple is immutable.
# Examples
contact_info={["NAME", "TITLE"]: "SAYAN ROY", "EMAIL": "sr@gmail.com", "MOBILENO" : "98765"} # as we use list as key so we get unhashable type error

TypeError: unhashable type: 'list'

In [37]:
contact_info={{"NAME", "TITLE"}: "SAYAN ROY", "EMAIL": "sr@gmail.com", "MOBILENO" : "98765"} # as we use set as key so we get unhashable type error

TypeError: unhashable type: 'set'

In [38]:
contact_info={{"TITLE":"ROY"}: "SAYAN", "EMAIL": "sr@gmail.com", "MOBILENO" : "98765"} # as we use dictionary as key so we get unhashable type error

TypeError: unhashable type: 'dict'

In [40]:
contact_info={("NAME", "TITLE"): "SAYAN ROY", "EMAIL": "sr@gmail.com", "MOBILENO" : "98765"}
contact_info # it doesn't throw any error as we use tuple as key & tuple is immutable & hashable

{('NAME', 'TITLE'): 'SAYAN ROY', 'EMAIL': 'sr@gmail.com', 'MOBILENO': '98765'}

In [ ]:
# we can use immutable datatypes like string, integer, float, boolean as key in dictionary.